/*오픈 전 카운트다운 페이지*/
@import 'reset.css';

.countdown-container{
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:5vw;
    font-weight: 700;
    line-height: 6vw;
    text-align: center;
    background-color:#FF6632
}

#dday{
    font-size: 2vw;
    margin-bottom: 2vw;
}
#countdown{
    font-size: 3vw;
    margin-top:5vw;
}