/*리스트 페이지 기본 레이아웃*/
@import "./reset.css";

.exhibition{
    width:100vw;
    position: relative;
}
.menu-title{
    font-size: 7.7vw;
    font-family: "Neue Haas Grotesk Text Pro Bd";
    position: fixed;
    top:60px;
    right:50px;
}
.category{
    position: absolute;
    bottom:0;
    left:0;
    width:20vw;
    height: 96vh;
    overflow: hidden;
    background:transparent;
    border-right: 3px solid black;
}

.exhibition-list{
    width:100vw;
    height: calc(100vh - 40px);
    overflow:scroll;
}
.art-category{
    font-size: 30px;
    font-family: "Neue Haas Grotesk Text Pro Md"
}
.art-category li{
    padding: 3px;
}

.list-wrapper{
    position: absolute;
    top:150px;
    right:55px;
    width:calc(80vw - 130px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.list-item{
    margin:3px;
}
.list-thumbnail{
    width:23vw;
    height: 23vw;
    object-fit: cover;
}
.orange-back{
    background-color:#FF6632;
}
.white-back{
    background-color: white;
}
.gray-back{
    background-color: #BFBFBF;
}
#graphic{
    min-height: calc(100vh - 40px);
}