/*리스트 페이지 기본 레이아웃*/
@import "./reset.css";

input:focus{
    border:none;
}
.exhibition{
    width:100vw;
    position: relative;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom:0;
    left:0;
    width:18vw;
    height: 86vh;
    overflow: hidden;
    background:transparent;
    border-right: 3px solid black;
    z-index: 10;
    padding:7.5vh 0 6.6vh 2vw;
}
.back-btn{
    margin-bottom:30px;
    font-family: "Neue Haas Grotesk Text Pro Bd";
    border:none;
    background: transparent;
    padding: 0;
}
.back-btn img{
    width:4vw;
}

.exhibition-list{
    width:100vw;
    min-height: calc(100vh - 35px);
    position: relative;
    top:35px;
}
.art-category{
    font-size: 2.3vw;
    font-family: "Neue Haas Grotesk Text Pro Md"
}
.art-category li{
    margin: 0.8vw 0.3vw;
}
.art-category li a{
    text-decoration: none;
    color: black;
}
.list-search{
    position: relative;
    width:55%;
    height: 3vw;
}
.list-search-input{
    position: absolute;
    top:0;
    left:0;
    font-size:2vw;
    width:100%;
    color:black;
    background: transparent;
    border:none;
    border-bottom: 2px solid black;
    padding:5px 0;
}
.list-search-input::placeholder{
    color:rgba(0,0,0,0.6);
    font-size:2vw;
    padding: 0;
}
.list-search-submit{
    position: absolute;
    right:0;
    top:0;
    border:none;
    background:transparent;
    padding: 5px 0;
}
.list-search-submit img{
    height: 2vw;
}
.artworks{
    width:90%;
    padding:0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.list-wrapper{
    width:70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin:5% 0;
}
.list-item{
    margin:3px;
    width:calc(70vw/3.08);
    height:calc(70vw/3.08);
    position: relative;
}
.list-info{
    color:#fff;
    background-color:rgba(0,0,0,0.7);
    bottom:0px;
    opacity:0;
    position: absolute;
    text-align: center;
    transition:all 0.5s ease;
    width:93%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    text-align: left; 
    padding:0 0 7% 7%;
}
.list-thumbnail{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.list-item:hover .list-info{
    opacity: 1;
    transition: all 0.5s ease;
}
.list-item:hover img{
    transition:all 0.5s ease;
    opacity: 0.4;
}

.list-info .title{
    width:89%;
    word-break:break-all;
    white-space: pre-wrap;
    overflow: hidden;
    /* font-family: "Neue Haas Grotesk Text Pro Md"; */
    line-height: 1.5em;
    font-size:1.5em;
}
.list-info .std-name{
    width:89%;
    overflow: hidden;
    font-size:0.9em;
    margin:0.5em 0;
}
.orange-back{
    background-color:#FF6632;
}
.white-back{
    background-color: white;
}
.gray-back{
    background-color: #BFBFBF;
}
#graphic{
    height: 100%;
}
.art-category li:nth-child(1){
    text-decoration: underline;
}