/* rotation bar, 최상단 메뉴 이름(exhibition,guestbook),백버튼 스타일 지정 */
@import "./reset.css";

.header{
  position: absolute;
  top:0;
  left:0;
  z-index: 15;
}
.part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:93.5vw;
  padding: 1vw 5vw 0 2vw; 
}
.back-btn{
    font-family: "Neue Haas Grotesk Text Pro Bd";
    border:none;
    background: transparent;
    padding: 0;
}
.back-btn img{
    width:4vw;
}
.menu-title{
    font-size: 7.7vw;
    font-family: "Neue Haas Grotesk Text Pro Bd";
}
.ezkorry-roller {
  width:100vw;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px 0;
}
.ezkorry-roller-wrapper:nth-child(1){

}
.header-item a{
    color:white;
}
.ezkorry-roller .header-item span {
  position:relative;
  display: inline-block;
  top:-2px;
  margin:0 4px;
  font-size: 18px;
  font-family: "Neue Haas Grotesk Text Pro Md";
}