@import "./reset.css";

.mainpage{
    width:100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    left:0;
    top:0;
}

/*nav bar style*/
.nav-2020,
.exhibition-nav,
.guestbook-nav{
    border:3px solid black;
    border-top:none;
    border-bottom: none;
    height:90vh;
    padding:5vh 0;
    display:block;
    writing-mode: vertical-lr;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-family: 'Noto Sans KR';
    font-size: 22px;
}

.label-name{
    margin-bottom: 55px;
}


/*=============2020년도 전시 섹션============*/
.nav-2020{
    background: white;
    width: 57px;
    color:black;
    position: absolute;
    left:0;
    top:0;
}
.nav-2020 span{
    display: inline-block;
}



/*=============2021년도 전시 섹션============*/
.nav-2021{
    display: flex;
    align-items:flex-start;
    position: absolute;
    right:0;
    top:0;
}

.exhibition-nav{
    background:#FF6632;
    width: 79px;
    color:black;
    position: relative;
    right:0;
    cursor: pointer;
}
.exhibition-nav .label-bottom .label-name{
    position: relative;
    bottom:-2px;
}
.exhibition-nav .label-bottom .mobile{
    display: none;
}
#entry-arrow{
    transform: rotate(180deg);
    height: 29px;
}

/* 2021 exhibition content style */
.exhibition-introduction{
  display:flex;
  justify-content: center;
  background-color: #fff;
  width:0;
  height:100vh;
  visibility: hidden;
  position: relative;
  transition:0.3s;
  overflow: scroll;
}

.exhibition-introduction *{
    color:black;
}

.exhibition-introduction .intro-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width:881px;
    margin:5vh 0;
}

.exhibition-introduction .intro-wrapper hr{
    width:100%;
    margin-bottom:32px;
}

.school-navigation{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.school-navigation img{
    width:37px;
}
.school-navigation a{
    margin:12px;
    font-size:20px;
    font-weight: 700;
    text-decoration: underline;
}

.main-title{
    margin-top:31px;
}
.main-title a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title h1{
    font-size: 125px;
    font-weight: 900;
}
.main-title>a>p{
    font-size: 30px;
    font-weight: 700;
}
.main-title .title-name{
    margin:76px 0;
    line-height: 32px;
    font-size: 25px;
    font-weight: 400;
    width:613px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main-title .title-name p span{
    position: relative;
    left:-15px;
}

.section-title{
    width:100%;
    font-size:28px;
    font-weight:700;
}
.section-title span{
    margin-left:16px;
    font-weight:400;
}

.exhibition-overview{
    width:100%;
}
.overview-text{
    padding-left:64px;
    width:calc(100% - 64px);
    margin-top:40px;
    margin-bottom: 76px;
}
.overview-text p:nth-child(2) br{
    display: none;
}
.overview-text p{
    font-size:18px;
    font-weight:400;
    line-height: 28px;
}


.exhibition-credit{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exhibition-credit .credit-list{
    width:calc(100% - 64px);
    padding-left:64px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.exhibition-credit .entry-btn{
    width:722px;
    height:71px;
    font-weight:700;
    font-size:28px;
    border:2px solid black;
    background:white;
    margin-bottom: 69px;
    transition:0.1s;
    cursor: pointer;
}
.exhibition-credit .entry-btn:hover{
    background:#FF6632;
}
.credit-list{
    margin:41px 0 76px 0;
}
.credit-list div{
    margin-bottom:30px;
    line-height: 25px;
    font-size:18px;
}
.credit-list p{
    font-weight: 400;
}
.credit-list .credit-kr h3{
    font-weight:700;
    margin:3px 0;
}
.credit-list .credit-en h3{
    font-weight:700;
    margin:3px 0;
}


.license{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
}
.license p{
    font-weight: 400;
    font-size:0.65em;
    margin:0.5em;
    text-align: center;
}
.license p span{
    font-weight:300;
}

/*=============2021년도 전시 게스트북 네비게이션 섹션============*/
.guestbook-nav{
    background: black;
    width: 44px;
    color:white;
    right:0;
    top:0;
    z-index: 100;
}


@media screen and (max-width:768px){
    .mainpage{
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-2020, 
    .exhibition-nav, 
    .guestbook-nav{
        border:2px solid black;
        height: none;
        width:92vw;
        writing-mode: horizontal-tb;
        padding:0 4vw;
        font-size: 20px;

    }
    .nav-2020{
        min-height:50px;
        height:auto;
        bottom:0;
        top:auto;
        align-items: flex-end;
        padding: 10px 4vw;
        border-left:none;
        border-right:none;
    }
    .exhibition-nav{
        height:135px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: absolute;
        top: 70px;
        z-index: 11;
        border-left:none;
        border-right:none;
    }
    .guestbook-nav{
        height:70px;
        top: 0;
        position: absolute;
    }

    .nav-2021{
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-content: flex-start;
        /* height:195px; */
        position: absolute;
        top:0;
    }

    .exhibition-nav .label-bottom {
        width:100%;
    }

    .label-bottom {
        text-align: right;
        width:auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .label-top span{
        display: block;
        margin:2px 0;
    }
    .label-name{
        margin-bottom: 2px;
        margin-right:10px;
    }
    .exhibition-nav .label-bottom .web{
        display: none;
    }
    .exhibition-nav .label-bottom .mobile{
        display: block;
    }
    .exhibition-nav .label-bottom .mobile span{
        font-weight: 700;
        font-size:18px;
    }
    #entry-arrow{
        transform: rotate(90deg);
        height: 20px;
    }



    .exhibition-introduction{
        width:100vw;
        position: absolute;
        top: 205px;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        z-index: 10;
    }
    .exhibition-introduction::-webkit-scrollbar{
        display: none;
    }
    .exhibition-introduction .intro-wrapper{
        width:90%;
        max-width: 600px;
    }
    .school-navigation{
        display: none;
    }
    .school-navigation img{
        display: none;
    }
    .main-title {
        margin-top:0;
    }
    .main-title h1{
        font-size:40px;
    }
    .main-title>a>p{
        font-size: 12px;
    }
    .main-title .title-name{
        width:100%;
        height:auto;
        display: grid;
        grid-template-columns: 40vw 50vw;
        grid-template-rows: repeat(2,1fr);
        font-size: 16px;
        line-height:1.4em;
        margin:30px auto;
    }
    .main-title .title-name .title-kr{
        grid-column: 1;
        grid-row:1;
        justify-self: start;
    }
    .main-title .title-name .title-en{
        grid-column: 2;
        grid-row:2;
        justify-self: end;
    }
    .section-title{
        font-size: 20px;
    }
    .overview-text{
        padding-left: 0;
        width:100%;
        margin-bottom:25px;
    }
    .overview-text p:nth-child(2) br{
        display: block;
    }
    .overview-text p{
        text-align: justify;
        font-size:15px;
        line-height: 25px;
        width:100%;
        margin-bottom: 15px;
    }
    .exhibition-credit a{
        width:100%;
    }
    .exhibition-credit .credit-list{
        padding-left: 0;
        width:100%;
        margin:40px 0 25px 0;
    }
    .credit-list section{
        width:45%;
    }
    .credit-list div{
        font-size:13px;
        margin-bottom: 26px;
        line-height: 20px;
    }
    
    .exhibition-credit .entry-btn{
        width:100%;
        height:40px;
        font-size: 15px;
        background-color: #FF6632;
        margin-bottom:30px;
    }
}


@media screen and (max-width:290px){
    .section-title span{
        display: block;
        margin-left:0;
        margin-top:16px;
    }
}